<%- include('partial/header') %>
<h2 style="text-align: center;">Euro 2024 Typerka - Kostrzyn nad Odrą</h2>
  <div class="container mt-5">
    <% if (typeof error !=='undefined' && error) { %>
      <div class="row">
        <div class="col text-center">
          <div class="alert alert-danger" role="alert">
            <strong>Błąd formularza</strong> użytkownik o takim loginie już gra z nami
          </div>
        </div>
      </div>
      <% } %>
        <div class="row">
          <div class="col col text-center fs-5">
            <p><a href="/login">Logowanie</a></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="text-center">Rejestracja</h3>
              </div>
              <div class="card-body">
                <form action="/register" method="POST">
                  <div class="mb-3">
                    <label for="username" class="form-label">Nazwa użytkownika</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Numer telefonu</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required pattern="[0-9]{9}">
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>