<%- include('partial/header.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
        <h3>Regulamin Typerka 2024 Kostrzyn - MISTRZOSTWA EUROPY 2024 Niemcy</h3>
        </p>
        <div>
          <ol>
            <li>Celem gry jest poprawne wytypowanie spotkań Mistrzostw Europy 2024, które odbędą się zgodnie z
              oficjalnym terminarzem UEFA</li>
            <li>Wytypować należy wszystkie 36 spotkań grupowych do 13.06.2024 do godziny 23.59 (nie można i nie
              przewiduje się typowania cząstkowego np. po każdej kolejce),</li>
            <li>Typować należy na specjalnie przygotowanych do tego celu stronie internetowej, na której się znajdujesz,
            </li>
            <li>Dla każdego zdarzenia może występować od 1 do 6 możliwych opcji wyniku, gdzie:
              <ul style="padding: 5px;">
                <li>1 - oznacza zwycięstwo uczestnika wymienionego na pierwszym miejscu;</li>
                <li>X - oznacza, że żaden z dwóch uczestników wymienionych w zdarzeniu nie uzyska zwycięstwa (będzie
                  wynik remisowy);</li>
                <li>2 - oznacza zwycięstwo uczestnika wymienionego na drugim miejscu;</li>
                <li>1X - oznacza, że uczestnik wymieniony na pierwszym miejscu zwycięży lub zremisuje;</li>
                <li>X2 - oznacza, że uczestnik wymieniony na drugim miejscu zwycięży lub zremisuje;</li>
                <li>12 - oznacza zwycięstwo uczestnika zdarzenia wymienionego na pierwszym miejscu lub zwycięstwo
                  uczestnika wymienionego na drugim miejscu,</li>
              </ul>
            <li>Dla urozmaicenia rozgrywki wprowadzono dwa stopnie trudności typowanych spotkań (standard i premium),
              które mają bezpośrednie odzwierciedlenie w punktacji. To, które mecze, jaki stopień trudności posiadają
              jest odpowiednio zaznaczone przy spotkaniu (żółta gwiazdka = typ premium)</li>
            <li>Wprowadzono także bonusy za poprawne wytypowanie wszystkich meczów w poszczególnych grupach
              eliminacyjnych (10 pkt za grupę),</li>
            <li>Pierwsze 10 osób z największą ilością punktów po fazie grupowej przechodzi do rundy finałowej (w
              przypadku gdy kilka osób zgromadzi tą samą ilość punktów na ostatnim miejscu premiowanym awansem
              przechodzi każda z tych osób),</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
        <h3>Runda finałowa</h3>
        </p>
        <div>
          <ol>
            <li>Zachowane zostają punkty z poprzedniej rundy,</li>
            <li>Typy składane są na specjalnej stronie przygotowanej na potrzeby rundy finałowej</li>
            <li>Dla każdego zdarzenia mogą występować jedynie dwie możliwości wyniku, gdzie:</li>
            <ul>
              <li>1 - oznacza zwycięstwo uczestnika wymienionego na pierwszym miejscu;</li>
              <li>2 - oznacza zwycięstwo uczestnika wymienionego na drugim miejscu;</li>
            </ul>
            <li>W 1/8 , 1/4 oraz półfinałach obowiązuje punktacja:</li>
            <ul>
              <li>Poprawnie wytypowany zwycięzca - 5 pkt;</li>
              <li>Błędnie wytypowany zwycięzca - 0 pkt;</li>
            </ul>
            <li>Dla urozmaicenia rozgrywki wprowadzono bonusy:
              <ul>
                <li>za poprawne wytypowanie ośmiu meczów fazy 1/8 - 10 pkt,</li>
                <li>za poprawne wytypowanie czterech meczów fazy 1/4 - 10 pkt,</li>
              </ul>
            </li>
            <li>Wytypować należy wszystkie 8 spotkań fazy 1/8 finału do 29.06.2024 do godziny 17:00,</li>
            <li>Po fazie 1/8 pozostaje w zabawie najlepsze 5 osób (w przypadku gdy kilka osób zgromadzi tą samą ilość</li>
            punktów na ostatnim miejscu premiowanym awansem przechodzi każda z tych osób),
            <li>Wytypować należy wszystkie 4 spotkania ćwierćfinałowe do 05.07.2024 do godziny 17:00,</li>
            <li>Po fazie ćwierćfinałowej nikt nie odpada, nadal pozostaje 5 osób,</li>
            <li>Spotkania półfinałowe należy wytypować do 09.07.2024 do godziny 19.00,</li>
            <li>Po fazie półfinałowej pozostają w zabawie najlepsze 3 osoby (w przypadku gdy kilka osób zgromadzi tą samą
            ilość punktów na ostatnim miejscu premiowanym awansem przechodzi każda z tych osób),</li>
            <li>Mecz finałowy należy wytypować do 14.07.2024 do godziny 19.00,</li>
            <li>ZA POPRAWNIE WYTYPOWANY FINAŁ UCZESTNIK ZABAWY OTRZYMUJE 20 PUNKTÓW!</li>
            <li>W przypadku równej ilości punktów nagroda zostaje podzielona przez ilość użytkowników, nie przewiduje się żadnych dogrywek.</li>
            <li>Typy uczestników oraz aktualną klasyfikację można znaleźć na stronie internetowej, na której się
            znajdujesz.</li>
          </ol>
          Organizatorzy: xxx xxx

        </div>
      </div>
    </div>
  </div>

  <%- include('partial/footer.ejs') %>