<%- include('partial/header.ejs') %>

<% if (czyWytypowal == 1) { %>
  <p style="margin:25px; font-size: 1.3rem;">Typy użytkownika: <%=username.username%></p>
  <%- include('partial/mojetypy.ejs') %>
<% } else { %>
  <p>Użytkownik nie wypełnił jeszcze formularza</p>
<% } %>

<%- include('partial/footer.ejs') %>