body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.mecz-body {
  width: 90%;
  height: 150px;
  margin: 5px;
  background-color: #e9e6e9e8;
  border: 1px solid black;
  border-radius: 10px;
}

.mecz-body:hover {
  background-color: rgb(224, 223, 223);
}

.mecz-druzyna {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.mecz-data,
.mecz-grupa {
  margin-top: 5px;
  text-align: center;
  font-size: 1rem;
}

.mecz-typ {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

#footer {
  background-color: tomato;
  font-size: 1.4rem;
  margin: 20px 0px;
  font-weight: bold;
}

#footer > a {
  color: rgb(61, 214, 0);
}

#footer > a:hover {
  color: rgb(80,200,10)
}

#listauzytkownikow > li.aktywny {
  font-size: 1.3rem;
  font-weight: bold;
}