<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/"><strong>Home</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/moje-typy"><strong>Moje typy</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/typy"><strong>Typy</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/ranking"><strong>Ranking</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/regulamin"><strong>Regulamin</strong></a></li>
    <li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>
  </ul>
</nav>